.c-btn{

    width: 200px;
    text-align: center;
    margin: 0 auto;

    a{
        display: block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 20px 40px;
        border-radius: 30px;
    }

    &--more{
        a{
            color: #8d8d8d;
            background-color:#ebe8e8; 
            padding: 20px 40px;
        }
    }

    &--view{

        align-self: center;

        a{
            color: #E76F51;
            border: 1px solid #E76F51;
            padding: 20px 60px;
            
        }
    }

}

.c-title{
    max-width: 408px;
    margin: 0px auto 80px;
    text-align: center;

    img{
        margin-bottom: 20px;
    }

    h4{
        font-family: 'Archivo', sans-serif;
        font-size: 40px;
        font-weight: 600;
    }

}

.c-mail--email{
    position: relative;
    width: 600px;
}

.c-menu{

    h6{
        font-family: 'Archivo';
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    li{

        padding: 8px 0;

        a{
            text-decoration: none;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 300;
            color: #000;
            
        }

    }


}

