@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');
/* 
*{
    margin: 0;
    padding: 0;
} */

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;

    background-image: url('../img/ocean-3605547_640.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner{
    width: 800px;
    text-align: center;
}

.banner__h{
    font-size: 70px;
    font-weight: 100;
    color: #f4f4f4;
    border: 4px solid rgb(107, 107, 218);
    padding: 10px;
    width: 100%;
    margin-bottom: -2px;
}

.banner__p{
    color: #f4f4f4;
    font-weight: thin;
    margin: 40px 0;

}

.banner__btn{
    background: rgb(45, 134, 185);
    border: none;
    padding: 15px 40px;    
    border-radius: 30px;
    color: #f6f6f6;
    font-size: 12px;
    box-shadow: 5px 5px 20px #888;
    opacity: 0.8;
    cursor: pointer;
    transition: all .6s;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;

    position: relative;
}

.banner__btn:hover{
    background: rgb(106, 192, 241);
}

.banner__btn::after{
    /* content: "\f060"; */
    content: "";
    background-image: url(../img/download.png);
    background-size: 10px;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translateY(-27%);
}


