.l-header,footer address{
    background-color: #000;
    padding: 20px;
    text-align: center;

    /* position: fixed; */
    /* z-index: 1; */
    /* width: 100%; */
    /* top: 0; */
}

.l-header a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;  
}

.menu{
    background-color: rgb(209, 156, 78);
    position: sticky;
    /* top: 50px; */
    top: 0;
    z-index: 1;

    display: flex;  
    flex-direction: row;
    justify-content: center;

}

.menu ul{
    width: 1200px;
    display: flex;  
    flex-direction: row;
}

.menu ul li{
    width: 33.65%;
    border-left: 1px solid #fff;
    text-align: center;
}

.menu ul li:last-child{
    border-right: 1px solid #fff;
}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    background-color: #eca50c;
    transition: all .5s ease-in;
}

.menu ul li a:hover{
    background-color: #eeec7b;
    color: #000;
}


.p-bloc--card{
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 auto;
   

    display: flex;
    justify-content: space-between;
}

.c-card{
    width: 32%;
    height: 350px;
    overflow: hidden;
    margin: 5px;
    object-fit: cover;
    /* border: 1px solid #000; */
    border-radius: 30px;
}

.c-card a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s ease;
}

.c-card a img:hover{
    transform: scale(1.2);
}

.p-bloc--faq{
    width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    
}

.f-box{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0 40px;
    overflow: hidden;
}

.f-box__ques{
    color: #fff;
    background-color: rgb(241, 115, 136);
    padding: 20px;
    cursor: pointer;
}

.f-box__answ{
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
    background-color: #eeee;
}

.fa-plus{
    float: right;
}

footer address {
    font-size: 15px;
    color: #fff;
  }

.a-up{
    width: 50px;
    height: 50px;
    background-color: #ffe818;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    position: fixed;
    right: 20px;
    bottom: 20px;
}

.fa-up-long{
    color: red;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .p-bloc--card{
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
  
    /* .p-bloc--card{
        width: 100%;
        background-color: red;
    } */
    .c-card{
        width: 49%;
        height: 300px;
        margin: 10px 0px;
       
    }

    .p-bloc--faq{
        width: 700px;
    }

}

@media screen and (max-width: 600px) {
    
      
     .p-bloc--card .c-card a img{ 
        width: 100%;
    } 

    .c-card{
        width: 100%;
        height: 300px;
        margin: 10px 0px;
    }

    .p-bloc--faq{
        width: 500px;
    }

}

@media screen and (max-width: 400px) {

    .p-bloc--card{
        width: 100%;
    }

    .c-card{
        width: 100%;
        height: 250px;
        margin: 10px 0px;
    }

    .p-bloc--faq{
        width: 500px;
    }

}

